:root{
  /* light */
  --light-background: #ebe9e9;
  --light-pimary-color: #7360DF;

  /* dark */
  --dark-background: #1a1a1a;
  --dark-font-color: #ebe9e9;
  --dark-primary-color: #03ac13;

}

h1 {
  color: var(--light-pimary-color);
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

h2{
  color: var(--light-pimary-color);
  margin-top: 3rem;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h3 {
  color: var(--light-pimary-color);
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

#pfp {
    border-radius: 50%;
    margin: 0 0 1rem;
  }

#competence {
  display: flex;
  align-items: top;
  text-align: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#competence div{

border-color: black;
border-style: solid;
width:25%;
border-radius: 2rem;
padding: 0 1rem 1rem 1rem;
}

#presentation {
  background-color: var(--light-pimary-color);
  color: var(--light-background);
  padding: 1rem 16rem;
}

#presentation h2 {
  margin: 0;
  color: var(--light-background);
}

#topInfo {
  text-align: center;
}

#rythm {
  color: var(--light-background);
  background-color: #a155e7;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-around;
}

#spotlified {
  color: var(--light-background);
  background-color: var(--light-pimary-color);
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-around;
}

#site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}

#site h3 {
  color: var(--light-background);
}

#design {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#design div{
  display:flex;
  flex-direction: column;
justify-content: center;
justify-content: space-around;
}

#hisoka p {
  width: 800px;
}

#design div p{
  width: 420px;
}

/*bouton*/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: var(--light-background);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: system-ui, Roboto;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-01 {
  background: var(--light-pimary-color);
  border: none;
  z-index: 1;
}
.btn-01:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #C499F3;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-01:hover {
  color: var(--light-background);
}
.btn-01:hover:after {
  left: 0;
  width: 100%;
}
.btn-01:active {
  top: 2px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 4rem;
}

#normal {
  font-family: "Salsa", cursive;
  padding: 15px;
  font-size: 24px;
  color: var(--light-pimary-color);
}

#gangnam {
  font-family: "Chivo Mono", monospace;
  font-size: 27px;
  padding: 5px 0 0 10px;
  color: var(--dark-primary-color);
}

.switch {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 80px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

img {
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #03ac13;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.slider.round {
  border-radius: 30px;
  background-color: var(--light-pimary-color);
}

.slider.round:before {
  border-radius: 50%;
}

.inactive {
  display: none;
}

body.light {
  padding: 0 0 3rem;
  background-color: var(--light-background);
  text-align: center;
  font-family: system-ui, Roboto;
  font-size: 18px;
  font-weight: 600;
}

body.dark {
  padding: 0 0 3rem;
  background-color: var(--dark-background);
  text-align: center;
  font-family: system-ui, Roboto;
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-font-color);
  h1{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 50px;
  }
  h2{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 40px;
  }
  h3{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 30px;
  }
  #presentation{
    background-color: var(--dark-primary-color);
    margin-bottom: 1rem;
  }
}

/* carrousel */
@import "https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css";
.carrousel,
.carrousel * {
  box-sizing: border-box;
}
.carrousel {
  font-size: 1rem;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    ". . f"
    "l . r"
    "p b c";
  border-radius: 0.25rem;
  color: white;
}
.carrousel:focus {
  outline: 1px solid currentcolor;
}

.carrousel.full-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  font-size: 1.5rem;
  --object-fit: contain !important;
  border-radius: 0;
}
.carrousel.hide-controls .control {
  opacity: 0;
  pointer-events: 0;
}
.carrousel .slides {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-grow: grow;
  height: 100%;
  overflow: hidden;
  border-radius:inherit;
}

.carrousel > *:not(.slides) {
  margin: 0.5em;
}
.carrousel .slides img {
  --backgroundOverlay: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background: #1d1e22;
  object-fit: var(--object-fit, cover);
  transition: margin-left 1s ease;
  background-size: cover;
  background-position: center center;
}

.carrousel .icon {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.carrousel .arrow-left {
  grid-area: l;
  font-size: 1.5em;
}
.carrousel .arrow-right {
  grid-area: r;
  font-size: 1.5em;
}
.carrousel .full-view-btn {
  grid-area: f;
}
.carrousel .auto-play-btn {
  grid-area: p;
}
.carrousel .controls-hide-btn {
  grid-area: c;
}
.carrousel .bullets {
  grid-area: b;
  display: flex;
  gap: 0.5rem;
}
/* for demo */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 20em;
  gap: 2em;
  max-width: 1000px;
  margin-inline: auto;
}
@media (min-width: 40rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.container > *:first-child {
  grid-column: 1/-1;
}

.controls-info {
  max-width: max-content;
  display: grid;
  text-align: left;
  margin-inline: auto;
  grid-template-columns: repeat(3, auto);
}
.controls-info * {
  padding: 0.25em 0.5em;
  align-self: center;
}
.controls-info .title {
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}
.controls-info .icon {
  display: flex;
  justify-content: center;
  border-inline: 1px dashed lightgray;
}
.controls-info .double {
  grid-column: span 2;
  border-left: 1px dashed lightgray;
}

.carrousel1 {
  display:none;
}