:root{
  /* light */
  --light-background: #ebe9e9;
  --light-pimary-color: #7360DF;

  /* dark */
  --dark-background: #1a1a1a;
  --dark-font-color: #ebe9e9;
  --dark-primary-color: #03ac13;

}

h1 {
  color: var(--light-pimary-color);
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

h2{
  color: var(--light-pimary-color);
  margin-top: 3rem;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h3 {
  color: var(--light-pimary-color);
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

#pfp {
    border-radius: 50%;
    margin: 0 0 1rem;
  }

#competence {
  display: flex;
  align-items: top;
  text-align: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#competence div{

border-color: black;
border-style: solid;
width:25%;
border-radius: 2rem;
padding: 0 1rem 1rem 1rem;
}

#presentation {
  background-color: var(--light-pimary-color);
  color: var(--light-background);
  padding: 1rem 16rem;
}

#presentation h2 {
  margin: 0;
  color: var(--light-background);
}

#topInfo {
  text-align: center;
}

#rythm {
  color: var(--light-background);
  background-color: #a155e7;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-around;
}

#spotlified {
  color: var(--light-background);
  background-color: var(--light-pimary-color);
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-around;
}

#site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}

#site h3 {
  color: var(--light-background);
}

#design {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
}

/*bouton*/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: var(--light-background);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: system-ui, Roboto;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-01 {
  background: var(--light-pimary-color);
  border: none;
  z-index: 1;
}
.btn-01:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #C499F3;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-01:hover {
  color: var(--light-background);
}
.btn-01:hover:after {
  left: 0;
  width: 100%;
}
.btn-01:active {
  top: 2px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 4rem;
}

#normal {
  font-family: "Salsa", cursive;
  padding: 15px;
  font-size: 24px;
  color: var(--light-pimary-color);
}

#gangnam {
  font-family: "Chivo Mono", monospace;
  font-size: 27px;
  padding: 5px 0 0 10px;
  color: var(--dark-primary-color);
}

.switch {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 80px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #03ac13;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.slider.round {
  border-radius: 30px;
  background-color: var(--light-pimary-color);
}

.slider.round:before {
  border-radius: 50%;
}

.inactive {
  display: none;
}


body.light {
  background-color: var(--light-background);
  text-align: center;
  font-family: system-ui, Roboto;
  font-size: 18px;
  font-weight: 600;
}

body.dark {
  background-color: var(--dark-background);
  text-align: center;
  font-family: system-ui, Roboto;
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-font-color);
  h1{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 50px;
  }
  h2{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 40px;
  }
  h3{
    color: var(--dark-primary-color);
    font-family: "Chivo Mono", monospace;
    font-size: 30px;
  }
  #presentation{
    background-color: var(--dark-primary-color);
    margin-bottom: 1rem;
  }
}