body {
  padding: 2rem 0;
  text-align: center;
}

#pfp {
    border-radius: 50%;
    margin: 2rem 0;
  }

#competence {
  display: flex;
  align-items: top;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#competence div{
border-color: black;
border-style: solid;
width:30%;
}

#presentation {
  background-color: blueviolet;
  color: white;
  padding: 2rem 16rem;
}

#topInfo {
  text-align: center;
}